<!DOCTYPE html>
<html>
  <head>
    <title>LOCAL BEERS!</title>

    <link rel="stylesheet" href="css/style.css" type="text/css" /> 
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css">
  </head>
  <body>
    <%= yield %>

    <script src="js/bootstrap.min.js"></script>
  </body>

</html>